@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-color: #F7F7FD;
}

nav{
  background-color: #fff;
  box-shadow: 0px 12.5216px 10.0172px rgba(37, 37, 37, 0.07);
}

.user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 0px;
  margin-top: 10px;
}
.jumbotron {
  padding-top: 2rem;
  background-color: #CEDAF7;
}
.search {
  padding: 8px 10px;
  border: 0px solid #dbdbdb;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.search
.modal textarea {
  border: none;
  padding-top: 20px;
  margin-top: 10px;
}

.form .button {
  position: relative;
  text-align: center;
  padding: 8px 15px;
  width: 70px;
  height: 100%;
  left: -8px;
  border: none;
  background: #FF9A00;
  border-radius: 0px 8px 8px 0px;
}

i .red-square {
  width: 20px;
  height: 20px;
  background-color: #ff2222;
}
.kotak {
  width: 80px;
  height: 80px;
  margin: auto;
  border-radius: 5%;
  margin-bottom: 10px;
  background-color: #ff2222;
}

.topik .container a {
  text-decoration: none;
  color: #ff2222;
}
.topik .container a p {
  text-decoration: none;
  color: #000;
}
.component-topik {
  background: #c4c4c4;
  border-radius: 8px;
}
.nav button .active {
  background-color: #c28888;
}

.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 100%;
}
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 80%;
  border-left: none;
  height: 100%;
  background-color: #EDF2FC;
}

/* Style the buttons inside the tab */
.tab button {
  display: flex;
  background-color: #c4c4c4;
  color: black;
  padding: 22px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #EDF2FC;
}
h5 {
  font-weight: bold;
}

/* Style the tab content */

hr {
  border: 0;
  border-top: 3px solid #000;
}
.page-link {
  border: none;
  background-color: inherit;
  color: #000;
}

.component-diskusi {
  margin: auto;
  padding: 35px;
  height: 100%;
  background-color: #ffd3d3;
  border-radius: 3px;
  margin-bottom: 20px;
}
#jawabanPertanyaan {
  border: none;
  background-color: #F7F7FD;
  margin-bottom: 20px;
}
.component-content {
  margin: auto;
  padding: 35px;
  height: 100%;
  background-color: #ffd3d3;
  border-radius: 3px;
  margin-bottom: 20px;
}

.breadcrumb {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}
.video {
  position: relative;
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  height: 100%;
  padding-top: 40%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.caption-video {
  padding-top: 20px;
}

.image img {
  max-width: 300px;
  width: 100%;
}
.btn-merah {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.btn-merah:hover {
  color: #989898;
  text-decoration: none;
}
#tab a {
  text-decoration: none;
}

.empty-state{
  width: 50ch;
}

.component-pelatihan{
  padding: 15px;
  background-color: #ffd3d3;
  border-radius: 5px;
}

.btn-custom{
  background-color: #FF9A00;
  color: #fff;
}

.btn-custom:hover{
  background-color: #fff;
  color: #FF9A00;
}

.btn-custom-outline{
  background-color: #fff;
  border: 1px solid #FF9A00;
  border-radius: 8px;
  box-shadow: 0px 22.3363px 17.869px rgba(37, 37, 37, 0.0417275), 0px 6.6501px 5.32008px rgba(37, 37, 37, 0.07);
}

.btn-custom-outline:hover{
  background-color: #FF9A00;
  color: #fff;
}

img{
  object-fit: cover;
}

.component-detail{
  background: #09215D;
  color: #fff;
  border-radius: 16px;
  overflow: hidden;
}

.component-detail .detail-content{
  background-color: #D1DDFA;
}

.detail-content ul{
  padding-left: 5px;
}

.detail-content ul li{
  list-style: disc;
  line-height: 3ch;
}

#dt-able{
  width: 100%;
}

#dt-able input[type="button"]{
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  border-radius: 5px;
}

#dt-able input[type="button"]:hover{
  border: 1px solid black;
}

#dt-able input[type="button"]:focus{
  background: #09215D;
  color: #fff;
}


#prev-month,#next-month{
  color: #fff;
  background: #09215D;
  border: none;
}

.search-course{
  background-color: #fce6e6;
}

.kategori{
  margin-left: -4px;
  padding-left: 0;
}

.kategori li{
  list-style: none;
  padding: 0;
}

.kategori li a{
  display: block;
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  font-size: smaller;
  text-align: center;
  border-radius: 8px;
}

.kategori li a:hover{
  color: #fff;
  background: #09215D;
}

.my-course{
  background-color: #ffd3d3;
}

.tag-topik{
  border-radius: 10px;
  overflow: hidden;
}

.course-detail .course-title{
  width: 35ch;
}

.accordion-item{
  border: none;
}

.accordion-button{
  background-color: #CDD9F6;
}

.duration p{
  width: 25ch;
}

.garis{
  width: 70px;
  height: 2px;
  background-color: #000;
}

.btn-custom-red{
  color: #fff;
  background-color: #ff2222;
}

.statistik-card{
  font-size: smaller;
  font-weight: bold;
  background-color: #fff;
  border-radius: 16px;
  padding: 15px 11px;
  box-shadow: 0px 30.1471px 24.1177px rgba(37, 37, 37, 0.035), 0px 12.5216px 10.0172px rgba(37, 37, 37, 0.0456112), 0px 4.5288px 3.62304px rgba(37, 37, 37, 0.07);
}

.data-setelan{
  width: 80%;
  margin: auto;
}

.data-setelan label{
  text-align: right;
}

.password-group{
  position: relative;
}

.show-password{
  position: absolute;
  top:50%;
  right: 5%;
  transform: translateY(-50%);
}

.bg-custom-lightblue{
  background-color: #CEDAF7;
}


.bg-custom-dark{
  background-color: rgba(0, 0, 0, .5);
}

.bg-custom-blue{
  background-color: #09215D;
}

.dashboard-body{
  min-height: calc(100vh - 88px);
}

.link-admin{
  color: #fff;
  text-decoration: none;
}

.table-admin tbody tr:hover{
  cursor: pointer;
  opacity: .5;
}

.card{
  box-shadow: 0px 12.5216px 10.0172px rgba(37, 37, 37, 0.07);
  border-radius: 8px;
}

.tablinks-admin.active{
  background-color: #F7F7FD;
  color: #000;
}

.tablinks-admin{
  padding: 15px 10px;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}



.tablinks-admin.active .link-admin{
  color: #000;
}

.unread{
  background-color: #EDF2FC;
}

.success{
  color: #4FAB2F;
}


.error{
  color: #D96464;
}

.price-tag{
  width: max-content;
  padding: 8px;
  background: #FFFFFF;
  box-shadow: 0px 12.5216px 10.0172px rgba(37, 37, 37, 0.07);
  border-radius: 8px;
}

.nav-tabs button{
  background: #09215D;
  color:#fff;
}

.kursus-breadcrumb{
  all: unset;
}

.materi-component{
  box-shadow: 0px 12.5216px 10.0172px rgba(37, 37, 37, 0.07);
  padding: 10px;  
  background: #CEDAF7;
  border-radius: 8px;
}

.materi-component-unactive{
  color: #BDBDBD;
}

.materi-component-unactive svg path{
  stroke: #BDBDBD;
}


.content-materi{
  background: #fff;
  box-shadow: 0px 12.5216px 10.0172px rgba(37, 37, 37, 0.07);
  border-radius: 16px;
}

.jawaban-checkbox{
  -webkit-appearance: none;
  padding:12px;
  border: 1.5px solid #BDBDBD;
  border-radius: 8px;
  display: inline-block;
	position: relative;
}

.jawaban-checkbox:checked::after{
  content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 2px;
	left: 7px;
	color: #fff
}

.jawaban-checkbox:checked{
  background: #09215D;
}

.btn-outline-orange{
  border: 1px solid #FF9A00;
}

.btn-outline-orange.active{
  background: #FF9A00;
  color: #fff;
}

.tablinks-pengguna.active{
  background: #CEDAF7;
}

.pagination{
  justify-content: flex-end;
}

.pagination .page-link{
  padding: 10px 15px;
  border-radius: 5px;
}

.pagination .page-link:hover{
  background-color: #09215D;
}

.login-col{
  background: url("../img/Pattern.png");
}

.bg{
  top: 0;
  left: 0;
  position: absolute;
  width: 26%;
  height: 100%;
  background: #FFD799;
  z-index: -1;
}

@media (max-width: 1200px) {
  .form .button {
    display: none;
  }
}
